@model IEnumerable<BasketballWebApp.Models.UserTeams>

@{
    ViewData["Title"] = "Index";
}
<style type="text/css">

    *{
        background-size: cover;
        text-align: center;
        color:white;
    }
    a {
        color: white;
    }
</style>
<h1>Welcome Back to Fantasy Basketball, @ViewBag.UserName</h1>
<br />

@*<p>
    <a asp-action="Create">Create New Fantasy Team</a>
</p>*@


<div style="display:inline">
<h1 style="float:left">Your Fantasy Teams</h1>
<a class="btn btn-success" style="float:right" asp-action="Create">Create New Fantasy Team</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                <a class="btn btn-success" asp-controller="UserTeamPlayers" asp-action="Index" asp-route-id="@item.UserTeamId">View Fantasy Team</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserTeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
