@model IEnumerable<BasketballWebApp.Models.UserTeamPlayers>

@{
    ViewData["Title"] = "Index";
}

<style>
    * {
        background-size: cover;
        text-align: center;
        color: white
    }
    a {
        color: white;
    }
</style>
<h1>@ViewBag.UserTeamName</h1>

<p style="display:inline">
    <a class ="btn btn-success" style="float:right" asp-action="Create" asp-route-id="@ViewBag.UserTeamIdInt">Add New Player</a>
    <div class="form-group" style="float:left">
        Budget: @Html.Label("Budget", (string)ViewBag.Budget)
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Ppg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Apg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Rpg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.GamesPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Player.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Ppg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Apg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Rpg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.GamesPlayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Price)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove Player</a>
                </td>
            </tr>
        }
    </tbody>
</table>
