@model IEnumerable<BasketballWebApp.Models.Nbateams>

@{
    ViewData["Title"] = "Index";
}

<style>
    * {
        background-size: cover;
        text-align: center;
        color: white
    }
    a{
        color:white;
    }
</style>

<h1>NBA Teams</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conference)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Players" asp-route-id="@item.NbateamId">View Players</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
